@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'BlexMono';
  src: url('/assets/BlexMonoNerdFontPropo-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}