@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'BlexMono';
  src: url('/assets/BlexMonoNerdFontPropo-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.transition-all {
  transition-property: all;
}
.translate-y-8 {
  transform: translateY(2rem);
}
.translate-y-0 {
  transform: translateY(0);
}
@keyframes floatUpDown {
  0% { transform: translateY(0); }
  50% { transform: translateY(-16px); }
  100% { transform: translateY(0); }
}
@keyframes floatUpDownPolygon {
  0% { transform: translateY(0); }
  50% { transform: translateY(12px); }
  100% { transform: translateY(0); }
}
.animate-float {
  animation: floatUpDown 3s ease-in-out infinite;
}
.animate-float-polygon {
  animation: floatUpDownPolygon 3s ease-in-out infinite;
  animation-delay: 1.2s;
}

/* Add to your global CSS file, e.g. index.css */
a, .text-link {
  color: #73EFF1;
  transition: color 0.18s;
}
a:hover, .text-link:hover {
  color: #F5C75E;
}